# Connect to Vercel Postgres
POSTGRES_PRISMA_URL="postgres://default:password@ep-host.region.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:password@ep-host.region.aws.neon.tech:5432/verceldb?sslmode=require"

# Standard connection string format (if using other providers)
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
